# User Bias in Data Cleaning
For your homework assignment this week, we will explore how our treatment of our data can impact the quality of our results.

**Dataset:**
The data is a Salary Survey from AskAManager.org. It’s US-centric-ish but does allow for a range of country inputs.

A list of the corresponding survey questions can be found [here](https://www.askamanager.org/2021/04/how-much-money-do-you-make-4.html).

# Imports

In [1161]:
from collections import Counter

from nltk.tokenize import word_tokenize
import pandas as pd

In [1162]:
df = pd.read_csv('survey_data.csv', parse_dates=[0], header=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28109 entries, 0 to 28108
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       28109 non-null  datetime64[ns]
 1   1       28109 non-null  object
 2   2       28034 non-null  object
 3   3       28108 non-null  object
 4   4       7273 non-null   object
 5   5       28109 non-null  object
 6   6       20793 non-null  float64
 7   7       28109 non-null  object
 8   8       211 non-null    object
 9   9       3047 non-null   object
 10  10      28109 non-null  object
 11  11      23074 non-null  object
 12  12      28027 non-null  object
 13  13      28109 non-null  object
 14  14      28109 non-null  object
 15  15      27886 non-null  object
 16  16      27938 non-null  object
 17  17      27932 non-null  object
dtypes: datetime64[ns](1), float64(1), object(16)
memory usage: 3.9+ MB

In [1163]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

# Assignment
Your goal for this assignment is to observe how your data treatment during the cleaning process can skew or bias the dataset.

Before diving right in, stop and read through the questions associated with the dataset. As you can see, they are either free-form text entries or categorical selections. Knowing this, perform some exploratory data analysis (EDA) to investigate the "state" of the dataset.

[Add as many code cell below here as needs]

**Question:** How would you describe the "state" of this dataset? Be specific and detailed in your answer. (Think paragraphs rather than sentences).

The state of the dataset is filthy. All columns but one are held as strings, but many can be categories and one should be numerical. Many of the missing values are from not requiring answers to questions. Some of this extra information offered in the not-requiring-answers questions may not be as useful as the main questions. Having some information about the question in the column names would be nice. Some columns have missing values that could be filled easily based on other columns. Columns with free-form entries will be hard to work with but still contain useful information. Luckily, all the questions that are required to submit the survey appear to have no missing values and many can be binned into categories.

## The Plan

Now, it is time to plan how you will clean up the dataset. You **are not** allowed to use any machine learning technique to clean the data. (No SMOTE! No machine learning! Or anything like that!)

**Question:** Based on your EDA above, detail how you would clean up this dataset. 
Things to consider: (This is not an exhaustive list)
- Are there columns that can't be effectively cleaned? If so, why?
- Are there columns that genuinely won't have a data value?
- Does it make sense to segment the dataset based on specific columns when determining how to handle the missing values?
- Are outliers a factor in this dataset?

Remember preserving as much of the data as possible is the goal. That means dropping rows with a missing value somewhere might not be the best idea.

I,ll add column names respectively: ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_comp', 'currency', 'currency_other', 'income_context', 'country', 'state', 'city', 'experience', 'field_experience', 'education', 'gender', 'race']

The 'context' columns will be difficult to clean up. They are mostly null and the free-form entries will be too difficult to parse to be worth it. Year and month should be extracted from the 'Timestamp' column. 

age, industry, currency, state, experience, field_experience, education, gender, race -> categorical

This will probably involve some manual cleaning and use of other columns to fill in gaps. 

Salary, additional_comp -> numerical

Additional_comp is tricky as it could be added to the salary column, but that being the target variable, it would be better to keep it separate.

Title can be parsed for common words like 'manager' or 'engineer' to create a new column.

In order for this to go into a model, all columns will need to be numerical. That will involve some kind of encoding for the categorical columns. One-hot encoding will hugely increase the number of columns, but it will be necessary to not introduce bias from ordinal encoding besides where that is appropriate.

As I go along in the notebook, I will add more detail to this plan.

## Implementation

Based on the plan the you described above, go ahead and clean up the dataset.

[Add as many code cell below here as needs]

In [1164]:
df.columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_comp', 'currency', 'currency_other', 'income_context', 'country', 'state', 'city', 'experience', 'field_experience', 'education', 'gender', 'race']
df

,timestamp,age,industry,title,title_context,salary,additional_comp,currency,currency_other,income_context,country,state,city,experience,field_experience,education,gender,race
0,2021-04-27 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,2021-04-27 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,2021-04-27 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,2021-04-27 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,2021-04-27 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28104,2025-01-03 16:03:10,18-24,Engineering or Manufacturing,Applications Engineer,NaN,100000,21000.0,USD,NaN,NaN,USA,Texas,Dallas,1 year or less,1 year or less,Master's degree,Woman,White
28105,2025-01-16 10:00:47,35-44,Entertainment,Product communication and education specialist,NaN,1000000,NaN,Other,Czk,NaN,Česká republika,NaN,Prague,21 - 30 years,2 - 4 years,High School,Woman,White
28106,2025-01-23 19:38:04,35-44,Nonprofits,Director of content design,NaN,132000,NaN,USD,NaN,NaN,USA,Missouri,Kansas City,11 - 20 years,11 - 20 years,Master's degree,Woman,White
28107,2025-01-27 21:02:19,45-54,Computing or Tech,CMO,NaN,279000,0.0,USD,NaN,NaN,USA,Washington,seattle,21 - 30 years,11 - 20 years,Master's degree,Woman,Middle Eastern or Northern African
28108,2025-02-04 09:27:51,25-34,Computing or Tech,Trainee,NaN,25300,NaN,EUR,NaN,NaN,Italia,NaN,Milano,1 year or less,1 year or less,Master's degree,Man,White

In [1165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28109 entries, 0 to 28108
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         28109 non-null  datetime64[ns]
 1   age               28109 non-null  object
 2   industry          28034 non-null  object
 3   title             28108 non-null  object
 4   title_context     7273 non-null   object
 5   salary            28109 non-null  object
 6   additional_comp   20793 non-null  float64
 7   currency          28109 non-null  object
 8   currency_other    211 non-null    object
 9   income_context    3047 non-null   object
 10  country           28109 non-null  object
 11  state             23074 non-null  object
 12  city              28027 non-null  object
 13  experience        28109 non-null  object
 14  field_experience  28109 non-null  object
 15  education         27886 non-null  object
 16  gender            27938 non-null  object
 17  race              27932 non-null  object
dtypes: datetime64[ns](1), float64(1), object(16)
memory usage: 3.9+ MB

#### Time

More granular time data than year and month is probably not useful. So I will drop the timestamp column after extracting year and month.

In [1166]:
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month
df.drop('timestamp', axis=1, inplace=True)
df

,age,industry,title,title_context,salary,additional_comp,currency,currency_other,income_context,country,state,city,experience,field_experience,education,gender,race,year,month
0,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,2021,4
1,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White,2021,4
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White,2021,4
3,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White,2021,4
4,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White,2021,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28104,18-24,Engineering or Manufacturing,Applications Engineer,NaN,100000,21000.0,USD,NaN,NaN,USA,Texas,Dallas,1 year or less,1 year or less,Master's degree,Woman,White,2025,1
28105,35-44,Entertainment,Product communication and education specialist,NaN,1000000,NaN,Other,Czk,NaN,Česká republika,NaN,Prague,21 - 30 years,2 - 4 years,High School,Woman,White,2025,1
28106,35-44,Nonprofits,Director of content design,NaN,132000,NaN,USD,NaN,NaN,USA,Missouri,Kansas City,11 - 20 years,11 - 20 years,Master's degree,Woman,White,2025,1
28107,45-54,Computing or Tech,CMO,NaN,279000,0.0,USD,NaN,NaN,USA,Washington,seattle,21 - 30 years,11 - 20 years,Master's degree,Woman,Middle Eastern or Northern African,2025,1
28108,25-34,Computing or Tech,Trainee,NaN,25300,NaN,EUR,NaN,NaN,Italia,NaN,Milano,1 year or less,1 year or less,Master's degree,Man,White,2025,2

### Categorical Columns
These appear to be the easy ones to categorize. I will start with these.

In [1167]:
df['age'] = df['age'].astype('category')
df['industry'] = df['industry'].astype('category')
df['country'] = df['country'].astype('category')
df['state'] = df['state'].astype('category')
df['city'] = df['city'].astype('category')
df['experience'] = df['experience'].astype('category')
df['field_experience'] = df['field_experience'].astype('category')
df['education'] = df['education'].astype('category')
df['gender'] = df['gender'].astype('category')
df.dtypes

age                 category
industry            category
title                 object
title_context         object
salary                object
additional_comp      float64
currency              object
currency_other        object
income_context        object
country             category
state               category
city                category
experience          category
field_experience    category
education           category
gender              category
race                  object
year                   int32
month                  int32
dtype: object

Check to see how many categories in each column.

In [1168]:
categorical_columns = df.select_dtypes(['category']).columns
df[categorical_columns].nunique()

age                    7
industry            1220
country              383
state                137
city                4842
experience             8
field_experience       8
education              6
gender                 5
dtype: int64

#### City

City has way too many categories to be useful. I'll keep the top 10 cities and put the rest in an 'other' category.

In [1169]:
df.city.value_counts().head(10)

city
Boston           772
Chicago          752
New York         711
Seattle          691
London           576
New York City    502
San Francisco    495
Los Angeles      462
Portland         423
Toronto          416
Name: count, dtype: int64

In [1170]:
df.loc[~df.city.isin(df.city.value_counts().head(10).index), 'city'] = 'Other'
df['city'] = df.city.cat.remove_unused_categories()
df.city.value_counts()

city
Other            22309
Boston             772
Chicago            752
New York           711
Seattle            691
London             576
New York City      502
San Francisco      495
Los Angeles        462
Portland           423
Toronto            416
Name: count, dtype: int64

That's less than ideal, but city can be a big factor in salary, so I don't want to lose that information. All the nulls were also set to other taking care of the missing values.

Next up, industry. There is a set number of options in the survey, so I will use that to categorize the industry column and set the rest to other.

#### Industry

In [1171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28109 entries, 0 to 28108
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               28109 non-null  category
 1   industry          28034 non-null  category
 2   title             28108 non-null  object
 3   title_context     7273 non-null   object
 4   salary            28109 non-null  object
 5   additional_comp   20793 non-null  float64
 6   currency          28109 non-null  object
 7   currency_other    211 non-null    object
 8   income_context    3047 non-null   object
 9   country           28109 non-null  category
 10  state             23074 non-null  category
 11  city              28109 non-null  category
 12  experience        28109 non-null  category
 13  field_experience  28109 non-null  category
 14  education         27886 non-null  category
 15  gender            27938 non-null  category
 16  race              27932 non-null  object
 17  year              28109 non-null  int32
 18  month             28109 non-null  int32
dtypes: category(9), float64(1), int32(2), object(7)
memory usage: 2.3+ MB

In [1172]:
df.industry.value_counts().head(50)

industry
Computing or Tech                       4712
Education (Higher Education)            2466
Nonprofits                              2420
Health care                             1899
Government and Public Administration    1893
Accounting, Banking & Finance           1812
Engineering or Manufacturing            1700
Marketing, Advertising & PR             1136
Law                                     1097
Business or Consulting                   853
Education (Primary/Secondary)            838
Media & Digital                          774
Insurance                                532
Retail                                   505
Recruitment or HR                        460
Property or Construction                 387
Art & Design                             359
Utilities & Telecommunications           357
Transport or Logistics                   304
Sales                                    286
Social Work                              274
Hospitality & Events                     262
Entertainment                            254
Agriculture or Forestry                  138
Leisure, Sport & Tourism                  99
Publishing                                56
Library                                   51
Libraries                                 50
Biotech                                   49
Law Enforcement & Security                43
Public Library                            35
Research                                  33
Manufacturing                             26
Pharmaceuticals                           24
Real Estate                               21
Architecture                              21
Public Libraries                          20
Pharmaceutical                            20
Pharma                                    17
Biotechnology                             16
Energy                                    16
Manufacturing                             14
Environmental Consulting                  14
Translation                               13
Scientific Research                       13
Science                                   13
Veterinary                                10
Pharmaceutical                            10
Oil & Gas                                 10
Politics                                  10
Name: count, dtype: int64

Law Enforcement & Security is the lowest of the offered options as far as I can see. On second thought, I will use all the options with more than 100 samples and put the rest in 'other'.

In [1173]:
df['industry'] = df.industry.cat.add_categories('Other')
df.loc[~df.industry.isin(df.industry.value_counts().head(24).index), 'industry'] = 'Other'
df['industry'] = df.industry.cat.remove_unused_categories()
df.industry.value_counts()

industry
Computing or Tech                       4712
Education (Higher Education)            2466
Nonprofits                              2420
Other                                   2391
Health care                             1899
Government and Public Administration    1893
Accounting, Banking & Finance           1812
Engineering or Manufacturing            1700
Marketing, Advertising & PR             1136
Law                                     1097
Business or Consulting                   853
Education (Primary/Secondary)            838
Media & Digital                          774
Insurance                                532
Retail                                   505
Recruitment or HR                        460
Property or Construction                 387
Art & Design                             359
Utilities & Telecommunications           357
Transport or Logistics                   304
Sales                                    286
Social Work                              274
Hospitality & Events                     262
Entertainment                            254
Agriculture or Forestry                  138
Name: count, dtype: int64

Not bad. At least other isn't the top category. Missing values also set to other. I could go through and try to set some with more nuance based on the other columns, but I think this is good enough for now.

Onto country and state.

#### Country

In [1174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28109 entries, 0 to 28108
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               28109 non-null  category
 1   industry          28109 non-null  category
 2   title             28108 non-null  object
 3   title_context     7273 non-null   object
 4   salary            28109 non-null  object
 5   additional_comp   20793 non-null  float64
 6   currency          28109 non-null  object
 7   currency_other    211 non-null    object
 8   income_context    3047 non-null   object
 9   country           28109 non-null  category
 10  state             23074 non-null  category
 11  city              28109 non-null  category
 12  experience        28109 non-null  category
 13  field_experience  28109 non-null  category
 14  education         27886 non-null  category
 15  gender            27938 non-null  category
 16  race              27932 non-null  object
 17  year              28109 non-null  int32
 18  month             28109 non-null  int32
dtypes: category(9), float64(1), int32(2), object(7)
memory usage: 2.2+ MB

In [1175]:
df.country.value_counts().head(50)

country
United States                9004
USA                          7946
US                           2612
Canada                       1572
United States                 668
U.S.                          581
UK                            574
United Kingdom                548
USA                           468
Usa                           448
United States of America      430
Australia                     318
United states                 208
usa                           184
Germany                       174
England                       134
united states                 116
Us                            105
Ireland                       103
New Zealand                    95
Uk                             85
Canada                         76
Australia                      68
United Kingdom                 65
France                         65
U.S.A.                         46
Spain                          44
United States of America       44
Netherlands                    43
Scotland                       40
us                             37
Sweden                         34
Belgium                        33
England                        32
Switzerland                    29
canada                         27
Japan                          26
The Netherlands                25
U.S                            22
UK                             22
New Zealand                    21
America                        21
India                          21
United State                   19
Germany                        19
Ireland                        19
US                             18
Usa                            18
Austria                        17
U.S.                           17
Name: count, dtype: int64

Ah man, I really wish they would have used a dropdown for country. I'll have to do some cleaning here.

In [1176]:
df['country'] = df.country.str.lower()
df['country'] = df.country.str.replace(r'\W', '', regex=True)
us_strings = ['us', 'unitedstates', 'unitedstatesofamerica', 'usa', 'unitesstates', 'america', 'unitedsates', 'theunitedstates', 'unitedstated', 'unitedstate', 'unitedstateofamerica', 'unitedstares', 'unitedstatea']
df.loc[df.country.isin(us_strings), 'country'] = 'us'
df.country.value_counts().head(50)

country
us                23155
canada             1680
uk                  704
unitedkingdom       635
australia           389
germany             197
england             169
ireland             125
newzealand          123
france               68
netherlands          57
spain                49
scotland             46
sweden               41
switzerland          38
belgium              35
thenetherlands       31
japan                29
denmark              23
india                23
singapore            20
southafrica          19
austria              17
finland              16
israel               14
norway               14
italy                14
malaysia             13
brazil               11
philippines          10
poland               10
china                 9
mexico                7
thailand              6
nz                    6
englanduk             6
colombia              5
czechrepublic         5
argentina             5
greatbritain          5
pakistan              5
portugal              5
taiwan                5
southkorea            5
greece                5
romania               5
nigeria               5
wales                 4
latvia                4
                      4
Name: count, dtype: int64

In [1177]:
uk_strings = ['uk', 'unitedkingdom', 'england', 'scotland', 'wales', 'englanduk', 'greatbritain']
df.loc[df.country.isin(uk_strings), 'country'] = 'uk'
df.country.value_counts().head(50)

country
us                 23155
canada              1680
uk                  1569
australia            389
germany              197
ireland              125
newzealand           123
france                68
netherlands           57
spain                 49
sweden                41
switzerland           38
belgium               35
thenetherlands        31
japan                 29
denmark               23
india                 23
singapore             20
southafrica           19
austria               17
finland               16
norway                14
italy                 14
israel                14
malaysia              13
brazil                11
philippines           10
poland                10
china                  9
mexico                 7
nz                     6
thailand               6
colombia               5
argentina              5
pakistan               5
portugal               5
taiwan                 5
southkorea             5
greece                 5
czechrepublic          5
romania                5
nigeria                5
puertorico             4
latvia                 4
                       4
hongkong               4
is                     3
chile                  3
isa                    3
northernireland        3
Name: count, dtype: int64

Okay, I'm done spending time on that. I'll just use the countries with more than 100 samples and put the rest in 'other'.

In [1178]:
df.loc[~df.country.isin(df.country.value_counts().head(8).index), 'country'] = 'Other'
df.country.value_counts().head(9)

country
us            23155
canada         1680
uk             1569
Other           803
australia       389
germany         197
ireland         125
newzealand      123
france           68
Name: count, dtype: int64

If they selected a state, they should be in the US.

In [1179]:
df.loc[~df.state.isnull(), 'country'] = 'us'
df['country'] = df.country.astype('category')
df.country.value_counts()

country
us            23244
canada         1679
uk             1569
Other           718
australia       389
germany         195
ireland         125
newzealand      123
france           67
Name: count, dtype: int64

In [1180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28109 entries, 0 to 28108
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               28109 non-null  category
 1   industry          28109 non-null  category
 2   title             28108 non-null  object
 3   title_context     7273 non-null   object
 4   salary            28109 non-null  object
 5   additional_comp   20793 non-null  float64
 6   currency          28109 non-null  object
 7   currency_other    211 non-null    object
 8   income_context    3047 non-null   object
 9   country           28109 non-null  category
 10  state             23074 non-null  category
 11  city              28109 non-null  category
 12  experience        28109 non-null  category
 13  field_experience  28109 non-null  category
 14  education         27886 non-null  category
 15  gender            27938 non-null  category
 16  race              27932 non-null  object
 17  year              28109 non-null  int32
 18  month             28109 non-null  int32
dtypes: category(9), float64(1), int32(2), object(7)
memory usage: 2.2+ MB

#### State

In [1181]:
df.state.value_counts().head(55)

state
California                        2611
New York                          2174
Massachusetts                     1522
Texas                             1269
Illinois                          1213
Washington                        1185
District of Columbia               983
Pennsylvania                       943
Virginia                           786
Minnesota                          723
Ohio                               655
Colorado                           632
Oregon                             626
North Carolina                     601
Maryland                           564
Georgia                            552
Michigan                           545
Florida                            522
Wisconsin                          469
New Jersey                         399
Missouri                           345
Indiana                            329
Arizona                            302
Tennessee                          286
Connecticut                        239
Utah                               208
Kentucky                           191
Iowa                               179
Kansas                             153
South Carolina                     148
Louisiana                          129
Maine                              126
Alabama                            122
New Hampshire                      118
Oklahoma                           113
Nebraska                           110
New Mexico                          98
Idaho                               97
Nevada                              94
Rhode Island                        77
Arkansas                            72
Vermont                             68
Alaska                              66
Montana                             64
Mississippi                         51
Delaware                            47
West Virginia                       42
North Dakota                        35
Hawaii                              30
South Dakota                        25
Wyoming                             24
District of Columbia, Virginia       6
New Jersey, New York                 5
New Jersey, Pennsylvania             4
District of Columbia, Maryland       4
Name: count, dtype: int64

I'll keep all the single states and put the rest to 'multi'. Samples with countries other than the US will be put in 'not_us'.

In [1182]:
df['state'] = df.state.cat.add_categories(['not_us', 'multi'])
df.loc[~(df.country == 'us'), 'state'] = 'not_us'
df.loc[~df.state.isin(df.state.value_counts().head(52).index), 'state'] = 'multi'
df['state'] = df.state.cat.remove_unused_categories()
df.state.value_counts().head(53)

state
not_us                  4865
California              2611
New York                2174
Massachusetts           1522
Texas                   1269
Illinois                1213
Washington              1185
District of Columbia     983
Pennsylvania             943
Virginia                 786
Minnesota                723
Ohio                     655
Colorado                 632
Oregon                   626
North Carolina           601
Maryland                 564
Georgia                  552
Michigan                 545
Florida                  522
Wisconsin                469
New Jersey               399
Missouri                 345
Indiana                  329
Arizona                  302
Tennessee                286
multi                    282
Connecticut              239
Utah                     208
Kentucky                 191
Iowa                     179
Kansas                   153
South Carolina           148
Louisiana                129
Maine                    126
Alabama                  122
New Hampshire            118
Oklahoma                 113
Nebraska                 110
New Mexico                98
Idaho                     97
Nevada                    94
Rhode Island              77
Arkansas                  72
Vermont                   68
Alaska                    66
Montana                   64
Mississippi               51
Delaware                  47
West Virginia             42
North Dakota              35
Hawaii                    30
South Dakota              25
Wyoming                   24
Name: count, dtype: int64

In [1183]:
df[categorical_columns].nunique()

age                  7
industry            25
country              9
state               53
city                11
experience           8
field_experience     8
education            6
gender               5
dtype: int64

In [1184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28109 entries, 0 to 28108
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               28109 non-null  category
 1   industry          28109 non-null  category
 2   title             28108 non-null  object
 3   title_context     7273 non-null   object
 4   salary            28109 non-null  object
 5   additional_comp   20793 non-null  float64
 6   currency          28109 non-null  object
 7   currency_other    211 non-null    object
 8   income_context    3047 non-null   object
 9   country           28109 non-null  category
 10  state             28109 non-null  category
 11  city              28109 non-null  category
 12  experience        28109 non-null  category
 13  field_experience  28109 non-null  category
 14  education         27886 non-null  category
 15  gender            27938 non-null  category
 16  race              27932 non-null  object
 17  year              28109 non-null  int32
 18  month             28109 non-null  int32
dtypes: category(9), float64(1), int32(2), object(7)
memory usage: 2.2+ MB

### Salary

In [1185]:
df['salary'].str.replace(r'\W', '', regex=True).astype(float).describe()

count    2.810900e+04
mean     3.619204e+05
std      3.619273e+07
min      0.000000e+00
25%      5.400000e+04
50%      7.500000e+04
75%      1.097690e+05
max      6.000070e+09
Name: salary, dtype: float64

In [1186]:
df['num_sal'] = df['salary'].str.replace(r'\W', '', regex=True).astype(float)
df.loc[df.num_sal < 100]

,age,industry,title,title_context,salary,additional_comp,currency,currency_other,income_context,country,state,city,experience,field_experience,education,gender,race,year,month,num_sal
97,55-64,Other,Quality Assurance Lead,NaN,58,NaN,USD,NaN,NaN,us,Maryland,Other,21 - 30 years,8 - 10 years,Master's degree,Woman,White,2021,4,58.0
166,25-34,Health care,occupational therapist,NaN,35,NaN,EUR,NaN,NaN,Other,not_us,Other,2 - 4 years,2 - 4 years,College degree,Woman,White,2021,4,35.0
895,45-54,Education (Primary/Secondary),Special Education Teacher,NaN,38,0.0,USD,NaN,NaN,us,Idaho,Other,21 - 30 years,11 - 20 years,Master's degree,Woman,White,2021,4,38.0
968,25-34,Media & Digital,Managing Editor,NaN,61,0.0,USD,NaN,NaN,us,Maryland,Other,5-7 years,5-7 years,College degree,Woman,White,2021,4,61.0
2229,25-34,"Marketing, Advertising & PR",Project Manager / Account Manager,NaN,33,0.0,EUR,NaN,"Before tax, insurance etc.",germany,not_us,Other,5-7 years,2 - 4 years,Master's degree,Woman,White,2021,4,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28026,35-44,Retail,CRM manager,CRM manager,70,NaN,EUR,NaN,NaN,germany,not_us,Other,8 - 10 years,5-7 years,Master's degree,Woman,White,2024,4,70.0
28049,25-34,Education (Higher Education),fasd,asdsda,5,NaN,EUR,ff,ff,us,multi,Other,21 - 30 years,5-7 years,NaN,NaN,NaN,2024,6,5.0
28093,45-54,Computing or Tech,CYBER SECURITY,NO,40,1200.0,EUR,other,no,us,multi,Other,2 - 4 years,2 - 4 years,High School,Man,Asian or Asian American,2024,11,40.0
28096,25-34,Business or Consulting,BI Consultant,NaN,10,NaN,Other,Rupees,NaN,Other,not_us,Other,2 - 4 years,2 - 4 years,College degree,Man,Another option not listed here or prefer not t...,2024,11,10.0
28098,18-24,Other,data engineer,NaN,0,NaN,USD,NaN,NaN,Other,not_us,Other,1 year or less,1 year or less,Master's degree,Man,White,2024,12,0.0

In [1187]:
df.num_sal.quantile([0.001, 0.999])

0.001    3.500000e+01
0.999    4.142720e+06
Name: num_sal, dtype: float64

I'm about at my wits end with this dataset. I'm going to drop the rows where salary is below the bottom 0.1% and top 99.9% as these are errors or outliers.

In [1188]:
df = df[df.num_sal >= df.num_sal.quantile(0.001)]
df = df[df.num_sal <= df.num_sal.quantile(0.999)]
df.num_sal.describe()

count    2.805200e+04
mean     9.239735e+04
std      1.011973e+05
min      3.500000e+01
25%      5.400000e+04
50%      7.500000e+04
75%      1.092000e+05
max      4.000000e+06
Name: num_sal, dtype: float64

In [1189]:
df.loc[df.num_sal > 1000000]

,age,industry,title,title_context,salary,additional_comp,currency,currency_other,income_context,country,state,city,experience,field_experience,education,gender,race,year,month,num_sal
603,45-54,Health care,Exec admin,Located in Argentina,"1,080,000",223000.0,Other,Peso Argentino,Exchange about 1USD=165ARS,Other,not_us,Other,11 - 20 years,11 - 20 years,College degree,Woman,"Hispanic, Latino, or Spanish origin",2021,4,1080000.0
1449,45-54,Business or Consulting,Design Lead,"My role combines Service Design, UX, Product S...","1,150,000",0.0,ZAR,NaN,Bonuses are discretionary. Haven't received on...,Other,not_us,Other,21 - 30 years,11 - 20 years,Some college,Woman,White,2021,4,1150000.0
2124,55-64,Art & Design,Owner and CEO,NaN,"3,000,000",NaN,USD,NaN,NaN,us,New York,Other,21 - 30 years,21 - 30 years,Master's degree,Woman,White,2021,4,3000000.0
3162,25-34,Health care,IT Director,NaN,"1,400,000",100000.0,Other,Dkk,NaN,Other,not_us,Other,8 - 10 years,8 - 10 years,Master's degree,Woman,White,2021,4,1400000.0
3937,45-54,Computing or Tech,Senior Manager,Consulting Services,"1,150,000",100000.0,Other,NOK,NaN,Other,not_us,Other,21 - 30 years,21 - 30 years,Master's degree,Woman,White,2021,4,1150000.0
4206,25-34,Engineering or Manufacturing,Software Engineer,NaN,"1,100,000",0.0,USD,NaN,NaN,us,Pennsylvania,Other,5-7 years,5-7 years,Master's degree,Woman,White,2021,4,1100000.0
4499,35-44,Computing or Tech,Producer,Project management type of role,"2,800,000",230000.0,Other,Indian rupees,NaN,Other,not_us,Other,11 - 20 years,5-7 years,College degree,Woman,Another option not listed here or prefer not t...,2021,4,2800000.0
5146,45-54,Other,translator/editor,NaN,"1,100,000",NaN,Other,CZK,NaN,Other,not_us,Other,21 - 30 years,21 - 30 years,Master's degree,Woman,White,2021,4,1100000.0
5306,35-44,Computing or Tech,Network Engineer,NaN,"1,200,000",120000.0,Other,CZK,NaN,Other,not_us,Other,8 - 10 years,8 - 10 years,Some college,Man,White,2021,4,1200000.0
5755,25-34,Health care,Attending Physician (general internal medicine),NaN,"1,900,000",0.0,USD,NaN,NaN,us,Connecticut,Other,5-7 years,5-7 years,"Professional degree (MD, JD, etc.)",Woman,White,2021,4,1900000.0
6783,25-34,Computing or Tech,Principal Software Engineer,NaN,"1,650,000",25000.0,USD,NaN,NaN,us,Massachusetts,Boston,8 - 10 years,5-7 years,Master's degree,Man,"Asian or Asian American, White",2021,4,1650000.0
9238,35-44,Government and Public Administration,Senior Policy Advisor,NaN,"1,334,782",0.0,USD,NaN,Includes a locality pay for living in a higher...,us,District of Columbia,Other,11 - 20 years,11 - 20 years,PhD,Woman,"Black or African American, White",2021,4,1334782.0
10508,25-34,Retail,Compliance / Privacy Manager,NaN,"1,150,000",NaN,JPY,NaN,NaN,Other,not_us,Other,8 - 10 years,8 - 10 years,"Professional degree (MD, JD, etc.)",Woman,"Asian or Asian American, White",2021,4,1150000.0
10904,35-44,Engineering or Manufacturing,Executive Assistant,NaN,"1,100,000",136000.0,Other,Philippine Peso,NaN,Other,not_us,Other,11 - 20 years,8 - 10 years,College degree,Woman,Asian or Asian American,2021,4,1100000.0
10978,25-34,Business or Consulting,Lead Analyst,NaN,"2,100,000",0.0,Other,INR,NaN,Other,not_us,Other,5-7 years,5-7 years,Master's degree,Man,Another option not listed here or prefer not t...,2021,4,2100000.0
11134,45-54,Law,Partner,NaN,"1,200,000",NaN,USD,NaN,NaN,us,Texas,Other,21 - 30 years,21 - 30 years,"Professional degree (MD, JD, etc.)",Man,White,2021,4,1200000.0
11414,25-34,Other,Localization Director,NaN,"3,225,000",1075000.0,JPY,NaN,technically my annual salary is the gross amou...,Other,not_us,Other,11 - 20 years,5-7 years,College degree,Woman,White,2021,4,3225000.0
11693,35-44,Computing or Tech,Master Specialist,"Manage-level consultant, specializing on a cer...","1,324,000",0.0,SEK,NaN,NaN,Other,not_us,Other,11 - 20 years,11 - 20 years,Master's degree,Woman,White,2021,4,1324000.0
11913,25-34,Computing or Tech,Machine Learning Engineer,NaN,"2,500,000",NaN,Other,LKR,NaN,Other,not_us,Other,2 - 4 years,2 - 4 years,College degree,Woman,Asian or Asian American,2021,4,2500000.0
14429,25-34,Other,Customer Service Specialist,NaN,"2,300,000",0.0,SEK,NaN,NaN,Other,not_us,Other,2 - 4 years,2 - 4 years,Master's degree,Non-binary,Another option not listed here or prefer not t...,2021,4,2300000.0
15509,35-44,Computing or Tech,Product Manager,NaN,"2,111,538",84610.0,USD,NaN,NaN,Other,not_us,Other,11 - 20 years,11 - 20 years,College degree,Man,Asian or Asian American,2021,4,2111538.0
15795,25-34,Entertainment,Japanese to English Translator,"I take text in Japanese, primarily for games, ...","3,600,000",0.0,JPY,NaN,I lose some of it in PayPal transfer fees. Als...,us,Alabama,Other,8 - 10 years,2 - 4 years,College degree,Non-binary,White,2021,4,3600000.0
16165,35-44,Law,Partner,NaN,"1,100,000",NaN,USD,NaN,NaN,us,Illinois,Chicago,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Man,White,2021,4,1100000.0
16769,25-34,"Marketing, Advertising & PR",Digital Marketing Assistant,NaN,"3,600,000",0.0,JPY,NaN,NaN,Other,not_us,Other,5-7 years,2 - 4 years,College degree,Other or prefer not to answer,"Hispanic, Latino, or Spanish origin",2021,4,3600000.0
16982,35-44,Computing or Tech,Senior Engineering Manager,NaN,"1,300,000",300000.0,Other,MXN,"Income is indexed (tabulated in USD, but paid ...",Other,not_us,Other,11 - 20 years,11 - 20 years,College degree,Woman,"Hispanic, Latino, or Spanish origin",2021,4,1300000.0
17708,25-34,Business or Consulting,Senior Consultant,Consultant in the IT Strategy field,"1,260,000",10000.0,USD,NaN,NaN,us,Washington,Seattle,5-7 years,5-7 years,Master's degree,Man,White,2021,4,1260000.0
18757,35-44,Computing or Tech,Ent agile coach,NaN,"4,000,000",NaN,Other,INR,NaN,Other,not_us,Other,11 - 20 years,11 - 20 years,Master's degree,Man,Asian or Asian American,2021,4,4000000.0
18832,35-44,Computing or Tech,Senior Engineer,NaN,"1,360,000",150000.0,ZAR,NaN,NaN,Other,not_us,Other,11 - 20 years,8 - 10 years,Master's degree,Man,White,2021,4,1360000.0
18943,25-34,Computing or Tech,Principal Software Engineer,NaN,"1,300,000",200000.0,Other,CZK,NaN,Other,not_us,Other,11 - 20 years,11 - 20 years,High School,Man,White,2021,4,1300000.0
20344,35-44,Education (Higher Education),Associate Professor,NaN,"1,050,000",0.0,ZAR,NaN,NaN,Other,not_us,Other,11 - 20 years,11 - 20 years,PhD,Man,White,2021,4,1050000.0
21320,25-34,Computing or Tech,Software Engineer,NaN,1200000,NaN,Other,INR,NaN,Other,not_us,Other,2 - 4 years,2 - 4 years,"Professional degree (MD, JD, etc.)",Man,Asian or Asian American,2021,4,1200000.0
21322,25-34,"Accounting, Banking & Finance",Cluster Manager - Marketing,I handle content and communications for a set ...,1465000,387000.0,Other,INR (Indian Rupee),My bonus pay is an essential part of my remune...,Other,not_us,Other,11 - 20 years,11 - 20 years,College degree,Woman,"Asian or Asian American, Another option not li...",2021,4,1465000.0
21995,35-44,Other,"Governance, risk, and compliance program manager",Specialized risk management IT infrastructure ...,1115000,NaN,Other,NOK,NaN,Other,not_us,Other,11 - 20 years,11 - 20 years,Master's degree,Woman,White,2021,4,1115000.0
23437,25-34,Media & Digital,Public Relations Coordinator,NaN,3120000,NaN,JPY,NaN,NaN,Other,not_us,Other,11 - 20 years,5-7 years,College degree,Woman,White,2021,5,3120000.0
24940,35-44,Education (Primary/Secondary),teacher,NaN,4000000,600000.0,JPY,NaN,NaN,Other,not_us,Other,11 - 20 years,8 - 10 years,Master's degree,Woman,White,2021,5,4000000.0
24955,25-34,Health care,Marketing Manager,NaN,1250000,350000.0,USD,NaN,NaN,us,District of Columbia,Other,8 - 10 years,8 - 10 years,Master's degree,Woman,White,2021,5,1250000.0
26558,45-54,Business or Consulting,Partner,sole proprietor LLC,1300000,0.0,USD,NaN,NaN,us,Virginia,Other,21 - 30 years,21 - 30 years,"Professional degree (MD, JD, etc.)",NaN,White,2021,7,1300000.0
26747,25-34,Computing or Tech,Deliverability Specialist,For Email Marketing Services this role should ...,1500000,NaN,Other,ARS,NaN,Other,not_us,Other,2 - 4 years,1 year or less,Some college,Man,"Hispanic, Latino, or Spanish origin, White",2021,9,1500000.0
27630,25-34,Computing or Tech,Senior Software Engineer,NaN,3000000,NaN,Other,INR,NaN,Other,not_us,Other,5-7 years,5-7 years,College degree,Man,Another option not listed here or prefer not t...,2022,1,3000000.0
27800,55-64,Insurance,Entrepreneur,NaN,2000000,NaN,Other,Rupees,NaN,Other,not_us,Other,31 - 40 years,31 - 40 years,"Professional degree (MD, JD, etc.)",Man,Asian or Asian American,2022,5,2000000.0
27857,25-34,Computing or Tech,Senior Tech Lead,Software Manager is another title,1800000,NaN,Other,INR,NaN,Other,not_us,Other,8 - 10 years,8 - 10 years,NaN,Man,Asian or Asian American,2022,8,1800000.0
28043,25-34,Computing or Tech,Lead,NaN,2600000,NaN,USD,NaN,NaN,us,Florida,Other,8 - 10 years,2 - 4 years,NaN,Man,NaN,2024,5,2600000.0
28061,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Other,not_us,Other,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American,2024,8,1200000.0
28084,65 or over,Other,Content creator,NaN,2000000,NaN,USD,NaN,NaN,us,multi,Other,41 years or more,2 - 4 years,PhD,Non-binary,"Asian or Asian American, Black or African Amer...",2024,10,2000000.0
28094,18-24,Computing or Tech,Cyber Security Management,It sicherheit,1500000,50000.0,EUR,NaN,NaN,us,Indiana,Other,2 - 4 years,5-7 years,College degree,Man,Asian or Asian American,2024,11,1500000.0

This is rediculous. If the target is at different scales the ML model is going to have a really hard time. I could go through and apply the conversion rates to the salary column, but that sounds super tedious. I'll just drop the rows with other currencies.

In [1190]:
df = df[df.currency == 'USD']
df = df[df.currency_other.isnull()]
df.drop(['currency', 'currency_other'], axis=1, inplace=True)
df

,age,industry,title,title_context,salary,additional_comp,income_context,country,state,city,experience,field_experience,education,gender,race,year,month,num_sal
0,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,NaN,us,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,2021,4,55000.0
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,NaN,us,Tennessee,Other,2 - 4 years,2 - 4 years,College degree,Woman,White,2021,4,34000.0
3,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,NaN,us,Wisconsin,Other,8 - 10 years,5-7 years,College degree,Woman,White,2021,4,62000.0
4,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,NaN,us,South Carolina,Other,8 - 10 years,5-7 years,College degree,Woman,White,2021,4,60000.0
5,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,NaN,us,New Hampshire,Other,8 - 10 years,2 - 4 years,Master's degree,Man,White,2021,4,62000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28101,18-24,Engineering or Manufacturing,Clinical Specialist - Biomedical Engineer,NaN,75000,NaN,NaN,us,New York,Other,2 - 4 years,1 year or less,Master's degree,Woman,White,2024,12,75000.0
28103,25-34,Entertainment,Junior Editor,NaN,72800,NaN,NaN,us,California,Los Angeles,5-7 years,5-7 years,Master's degree,Woman,"Hispanic, Latino, or Spanish origin, White",2024,12,72800.0
28104,18-24,Engineering or Manufacturing,Applications Engineer,NaN,100000,21000.0,NaN,us,Texas,Other,1 year or less,1 year or less,Master's degree,Woman,White,2025,1,100000.0
28106,35-44,Nonprofits,Director of content design,NaN,132000,NaN,NaN,us,Missouri,Other,11 - 20 years,11 - 20 years,Master's degree,Woman,White,2025,1,132000.0
28107,45-54,Computing or Tech,CMO,NaN,279000,0.0,NaN,us,Washington,Other,21 - 30 years,11 - 20 years,Master's degree,Woman,Middle Eastern or Northern African,2025,1,279000.0

In [1191]:
df.loc[df.num_sal > 1000000]

,age,industry,title,title_context,salary,additional_comp,income_context,country,state,city,experience,field_experience,education,gender,race,year,month,num_sal
2124,55-64,Art & Design,Owner and CEO,NaN,"3,000,000",NaN,NaN,us,New York,Other,21 - 30 years,21 - 30 years,Master's degree,Woman,White,2021,4,3000000.0
4206,25-34,Engineering or Manufacturing,Software Engineer,NaN,"1,100,000",0.0,NaN,us,Pennsylvania,Other,5-7 years,5-7 years,Master's degree,Woman,White,2021,4,1100000.0
5755,25-34,Health care,Attending Physician (general internal medicine),NaN,"1,900,000",0.0,NaN,us,Connecticut,Other,5-7 years,5-7 years,"Professional degree (MD, JD, etc.)",Woman,White,2021,4,1900000.0
6783,25-34,Computing or Tech,Principal Software Engineer,NaN,"1,650,000",25000.0,NaN,us,Massachusetts,Boston,8 - 10 years,5-7 years,Master's degree,Man,"Asian or Asian American, White",2021,4,1650000.0
9238,35-44,Government and Public Administration,Senior Policy Advisor,NaN,"1,334,782",0.0,Includes a locality pay for living in a higher...,us,District of Columbia,Other,11 - 20 years,11 - 20 years,PhD,Woman,"Black or African American, White",2021,4,1334782.0
11134,45-54,Law,Partner,NaN,"1,200,000",NaN,NaN,us,Texas,Other,21 - 30 years,21 - 30 years,"Professional degree (MD, JD, etc.)",Man,White,2021,4,1200000.0
15509,35-44,Computing or Tech,Product Manager,NaN,"2,111,538",84610.0,NaN,Other,not_us,Other,11 - 20 years,11 - 20 years,College degree,Man,Asian or Asian American,2021,4,2111538.0
16165,35-44,Law,Partner,NaN,"1,100,000",NaN,NaN,us,Illinois,Chicago,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Man,White,2021,4,1100000.0
17708,25-34,Business or Consulting,Senior Consultant,Consultant in the IT Strategy field,"1,260,000",10000.0,NaN,us,Washington,Seattle,5-7 years,5-7 years,Master's degree,Man,White,2021,4,1260000.0
24955,25-34,Health care,Marketing Manager,NaN,1250000,350000.0,NaN,us,District of Columbia,Other,8 - 10 years,8 - 10 years,Master's degree,Woman,White,2021,5,1250000.0
26558,45-54,Business or Consulting,Partner,sole proprietor LLC,1300000,0.0,NaN,us,Virginia,Other,21 - 30 years,21 - 30 years,"Professional degree (MD, JD, etc.)",NaN,White,2021,7,1300000.0
28043,25-34,Computing or Tech,Lead,NaN,2600000,NaN,NaN,us,Florida,Other,8 - 10 years,2 - 4 years,NaN,Man,NaN,2024,5,2600000.0
28084,65 or over,Other,Content creator,NaN,2000000,NaN,NaN,us,multi,Other,41 years or more,2 - 4 years,PhD,Non-binary,"Asian or Asian American, Black or African Amer...",2024,10,2000000.0

That looks way more realistic.

In [1192]:
df['salary'] = df['num_sal'].astype(int)
df.drop('num_sal', axis=1, inplace=True)
df

,age,industry,title,title_context,salary,additional_comp,income_context,country,state,city,experience,field_experience,education,gender,race,year,month
0,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,55000,0.0,NaN,us,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,2021,4
2,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,34000,NaN,NaN,us,Tennessee,Other,2 - 4 years,2 - 4 years,College degree,Woman,White,2021,4
3,25-34,Nonprofits,Program Manager,NaN,62000,3000.0,NaN,us,Wisconsin,Other,8 - 10 years,5-7 years,College degree,Woman,White,2021,4
4,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,60000,7000.0,NaN,us,South Carolina,Other,8 - 10 years,5-7 years,College degree,Woman,White,2021,4
5,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,62000,NaN,NaN,us,New Hampshire,Other,8 - 10 years,2 - 4 years,Master's degree,Man,White,2021,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28101,18-24,Engineering or Manufacturing,Clinical Specialist - Biomedical Engineer,NaN,75000,NaN,NaN,us,New York,Other,2 - 4 years,1 year or less,Master's degree,Woman,White,2024,12
28103,25-34,Entertainment,Junior Editor,NaN,72800,NaN,NaN,us,California,Los Angeles,5-7 years,5-7 years,Master's degree,Woman,"Hispanic, Latino, or Spanish origin, White",2024,12
28104,18-24,Engineering or Manufacturing,Applications Engineer,NaN,100000,21000.0,NaN,us,Texas,Other,1 year or less,1 year or less,Master's degree,Woman,White,2025,1
28106,35-44,Nonprofits,Director of content design,NaN,132000,NaN,NaN,us,Missouri,Other,11 - 20 years,11 - 20 years,Master's degree,Woman,White,2025,1
28107,45-54,Computing or Tech,CMO,NaN,279000,0.0,NaN,us,Washington,Other,21 - 30 years,11 - 20 years,Master's degree,Woman,Middle Eastern or Northern African,2025,1

In [1193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23360 entries, 0 to 28107
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               23360 non-null  category
 1   industry          23360 non-null  category
 2   title             23360 non-null  object
 3   title_context     6125 non-null   object
 4   salary            23360 non-null  int64
 5   additional_comp   17502 non-null  float64
 6   income_context    2518 non-null   object
 7   country           23360 non-null  category
 8   state             23360 non-null  category
 9   city              23360 non-null  category
 10  experience        23360 non-null  category
 11  field_experience  23360 non-null  category
 12  education         23204 non-null  category
 13  gender            23218 non-null  category
 14  race              23210 non-null  object
 15  year              23360 non-null  int32
 16  month             23360 non-null  int32
dtypes: category(9), float64(1), int32(2), int64(1), object(4)
memory usage: 1.6+ MB

### Title

I'll find common words in titles and add columns for them.

In [1194]:
words = word_tokenize(' '.join(df.title.dropna().str.lower()))
Counter(words).most_common(10)

[('manager', 4461),
 ('senior', 2436),
 ('director', 2406),
 ('engineer', 1865),
 ('analyst', 1411),
 ('assistant', 1403),
 ('of', 1285),
 ('associate', 1177),
 ('software', 1042),
 ('specialist', 1041)]

I'll add columns for the top 3. Without categorizing the column it can't be used in a model. Unless I made a bag of words or tf-idf matrix, but that would add so much complexity to the data. I think it's better to drop it along with title context.

In [1195]:
df['manager'] = df.title.str.contains('manager', case=False)
df['senior'] = df.title.str.contains('senior', case=False)
df['director'] = df.title.str.contains('director', case=False)
df.drop(['title', 'title_context'], axis=1, inplace=True)
df

,age,industry,salary,additional_comp,income_context,country,state,city,experience,field_experience,education,gender,race,year,month,manager,senior,director
0,25-34,Education (Higher Education),55000,0.0,NaN,us,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White,2021,4,False,False,False
2,25-34,"Accounting, Banking & Finance",34000,NaN,NaN,us,Tennessee,Other,2 - 4 years,2 - 4 years,College degree,Woman,White,2021,4,False,False,False
3,25-34,Nonprofits,62000,3000.0,NaN,us,Wisconsin,Other,8 - 10 years,5-7 years,College degree,Woman,White,2021,4,True,False,False
4,25-34,"Accounting, Banking & Finance",60000,7000.0,NaN,us,South Carolina,Other,8 - 10 years,5-7 years,College degree,Woman,White,2021,4,True,False,False
5,25-34,Education (Higher Education),62000,NaN,NaN,us,New Hampshire,Other,8 - 10 years,2 - 4 years,Master's degree,Man,White,2021,4,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28101,18-24,Engineering or Manufacturing,75000,NaN,NaN,us,New York,Other,2 - 4 years,1 year or less,Master's degree,Woman,White,2024,12,False,False,False
28103,25-34,Entertainment,72800,NaN,NaN,us,California,Los Angeles,5-7 years,5-7 years,Master's degree,Woman,"Hispanic, Latino, or Spanish origin, White",2024,12,False,False,False
28104,18-24,Engineering or Manufacturing,100000,21000.0,NaN,us,Texas,Other,1 year or less,1 year or less,Master's degree,Woman,White,2025,1,False,False,False
28106,35-44,Nonprofits,132000,NaN,NaN,us,Missouri,Other,11 - 20 years,11 - 20 years,Master's degree,Woman,White,2025,1,False,False,True
28107,45-54,Computing or Tech,279000,0.0,NaN,us,Washington,Other,21 - 30 years,11 - 20 years,Master's degree,Woman,Middle Eastern or Northern African,2025,1,False,False,False

In [1196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23360 entries, 0 to 28107
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               23360 non-null  category
 1   industry          23360 non-null  category
 2   salary            23360 non-null  int64
 3   additional_comp   17502 non-null  float64
 4   income_context    2518 non-null   object
 5   country           23360 non-null  category
 6   state             23360 non-null  category
 7   city              23360 non-null  category
 8   experience        23360 non-null  category
 9   field_experience  23360 non-null  category
 10  education         23204 non-null  category
 11  gender            23218 non-null  category
 12  race              23210 non-null  object
 13  year              23360 non-null  int32
 14  month             23360 non-null  int32
 15  manager           23360 non-null  bool
 16  senior            23360 non-null  bool
 17  director          23360 non-null  bool
dtypes: bool(3), category(9), float64(1), int32(2), int64(1), object(2)
memory usage: 1.3+ MB

### Additional Compensation

This one's hard. I'm tempted to add it to the salary column, but that would introduce bias. I could also keep it and use it to predict salary, but there are so many missing values. I guess I kind of get to decide what the purpose of the model is, so I'll say it's to predict salary with additional compensation. I'll add it to salary and drop the column along with it's additional context.

In [1197]:
df.salary.describe()

count    2.336000e+04
mean     9.196248e+04
std      6.812765e+04
min      3.500000e+01
25%      5.616000e+04
50%      7.803900e+04
75%      1.120000e+05
max      3.000000e+06
Name: salary, dtype: float64

In [1198]:
df['additional_comp'] = df.additional_comp.fillna(0)
df['additional_comp'] = df['additional_comp'].astype(int)
df['salary'] = df['salary'] + df['additional_comp']
df.drop(['additional_comp', 'income_context'], axis=1, inplace=True)
df.salary.describe()

count    2.336000e+04
mean     1.014830e+05
std      8.814665e+04
min      3.500000e+01
25%      5.800000e+04
50%      8.100000e+04
75%      1.200000e+05
max      3.000000e+06
Name: salary, dtype: float64

In [1199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23360 entries, 0 to 28107
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               23360 non-null  category
 1   industry          23360 non-null  category
 2   salary            23360 non-null  int64
 3   country           23360 non-null  category
 4   state             23360 non-null  category
 5   city              23360 non-null  category
 6   experience        23360 non-null  category
 7   field_experience  23360 non-null  category
 8   education         23204 non-null  category
 9   gender            23218 non-null  category
 10  race              23210 non-null  object
 11  year              23360 non-null  int32
 12  month             23360 non-null  int32
 13  manager           23360 non-null  bool
 14  senior            23360 non-null  bool
 15  director          23360 non-null  bool
dtypes: bool(3), category(9), int32(2), int64(1), object(1)
memory usage: 1009.2+ KB

### Race

Like the states, I'll set the rows with multiple chosen races to 'multi'.

In [1200]:
race_options = ['Asian or Asian American', 'Black or African American', 'Hispanic, Latino, or Spanish origin', 'Middle Eastern or Northern African', 'Native American or Alaska Native', 'White', 'Another option not listed here or prefer not to answer']
df.loc[~df.race.isin(race_options), 'race'] = 'multi'
df['race'] = df.race.astype('category')
df.race.value_counts()

race
White                                                     19259
multi                                                      1244
Asian or Asian American                                    1132
Black or African American                                   620
Hispanic, Latino, or Spanish origin                         548
Another option not listed here or prefer not to answer      466
Middle Eastern or Northern African                           55
Native American or Alaska Native                             36
Name: count, dtype: int64

In [1201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23360 entries, 0 to 28107
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               23360 non-null  category
 1   industry          23360 non-null  category
 2   salary            23360 non-null  int64
 3   country           23360 non-null  category
 4   state             23360 non-null  category
 5   city              23360 non-null  category
 6   experience        23360 non-null  category
 7   field_experience  23360 non-null  category
 8   education         23204 non-null  category
 9   gender            23218 non-null  category
 10  race              23360 non-null  category
 11  year              23360 non-null  int32
 12  month             23360 non-null  int32
 13  manager           23360 non-null  bool
 14  senior            23360 non-null  bool
 15  director          23360 non-null  bool
dtypes: bool(3), category(10), int32(2), int64(1)
memory usage: 849.8 KB

Woot! No more object columns. All that's left is missing values.

In [1202]:
df.isnull().sum()

age                   0
industry              0
salary                0
country               0
state                 0
city                  0
experience            0
field_experience      0
education           156
gender              142
race                  0
year                  0
month                 0
manager               0
senior                0
director              0
dtype: int64

The gender question has a 'prefer not to answer' option. That's what the nulls will be set to.

In [1203]:
df['gender'] = df.gender.fillna('Other or prefer not to answer')
df.gender.value_counts()

gender
Woman                            18056
Man                               4326
Non-binary                         598
Other or prefer not to answer      379
Prefer not to answer                 1
Name: count, dtype: int64

How? How did that get entered?

In [1204]:
df.loc[df.gender == 'Prefer not to answer']

,age,industry,salary,country,state,city,experience,field_experience,education,gender,race,year,month,manager,senior,director
6477,35-44,Agriculture or Forestry,88010,us,Nebraska,Other,1 year or less,5-7 years,PhD,Prefer not to answer,Another option not listed here or prefer not t...,2021,4,False,False,False

Whatever

In [1205]:
df.loc[df.gender == 'Prefer not to answer', 'gender'] = 'Other or prefer not to answer'
df['gender'] = df.gender.cat.remove_unused_categories()
df.gender.value_counts()

gender
Woman                            18056
Man                               4326
Non-binary                         598
Other or prefer not to answer      380
Name: count, dtype: int64

Wow, way more women than men.

## Reflection
Write a short reflection (400-500 words) answering the following: 
- What were the biggest issues you encountered in the messy dataset?
- How did cleaning the dataset improve its usability for machine learning?
- What would happen if we trained a model on the messy dataset vs. the cleaned one?
- Do you feel you skewed or biased the dataset while cleaning it?

[Add you answer to this markdown cell]

## Deliverables
Upload your Jupyter Notebook to your GitHub repo and then provide a link to that repo in Worlclass.